<h1><%= @house.name %></h1>

<img src="<%=@house.banner_url%>" alt="banner" />

<li>Castle: <%= @house.castle %></li>

<%= link_to "Edit House", edit_house_path %>

<%= link_to "Return", houses_path %>
