<h2><%= @character.title + " " + @character.name + " of " + @character.house.castle%></h2>

<p><img src="<%=@character.img_url%>" alt="image" /></p>

  <%if @character.user%>
  <p>Created by <%=@character.user.email%> </p>
  <%end%>


<p><%= link_to "Edit Character", edit_house_character_path(@house) %></p>

<p><%= link_to "Return", house_path(@house) %></p>
