<!DOCTYPE html>
<html>
  <head>
    <title>Thrones</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id = "logMenu">
    <% if !current_user %>
      <p id = "rowList"><%= link_to "Sign up ", new_user_registration_path %></p>
      <p id = "rowList"><%= link_to "Sign in ", new_user_session_path %></p>
    <% else %>
      <p><%= link_to "Sign out:", destroy_user_session_path, :method => :delete %></p>
      <p id = "rowList"><%= current_user.email %></p>
  <% end %>
</div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
